section {
  max-width: 600px;
  float: left;
}
article figure {
  width: 440px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: #efefef9e;
  padding: 20px;
  box-shadow: 5px 5px 12px #ccc;
}
article figure figcaption {
  padding: 15px;
  width: 280px;
}
article figure figcaption span {
  text-transform: capitalize;
  font-family: 'Satisfy', cursive;
  font-size: 24px;
}
article figure figcaption p {
  font-family: 'Roboto', sans-serif;
}
article figure figcaption img {
  float: right;
}
.img-photo {
  border-radius: 50%;
}

aside {
  width: 600px;
  float: left;
}
aside h1 {
  text-transform: capitalize;
  font-family: 'Satisfy', cursive;
  font-size: 38px;
  text-align: center;
  color: #10a5af;
}
.hovered {
  border: dotted 5px #10a5af;
}
.box-favorites {
  height: 600px;
}